:host{
    .box{
        position: fixed;
        left: 45%;
        top: 30%;
        bottom: auto;
        right: auto;
    }
    .buttonAction input{
        margin-top: 10px;
        width: 50%;
    }

    .show{
        transform: translateY(0%);
    }
    .notshow{
        transform: translateY(-100000%);
    }
    #registerUI{
        position: absolute;
        top: 0px;
    }
    #registerUI,#loginUI{
        transition: transform 180ms; 
    }
    

    @media screen and (max-width: 600px){
        .box{
            left: 30%;
        }
    }
}